@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@section head
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/error.css")" />
}
<div class="error-page">
    <div class="content-container">
        <section id="error403">

            <h3>你越级了哦~</h3>
            <h4>可以撤退...</h4>
            <div class="redirect">
                <a href="javascript:history.go(-1)">返回上一页</a>
            </div>

        </section>
    </div>

</div>



